/*
 * These colors can be used all throughout the other
 * css files to create a uniform theme of color while
 * also allowing to easily change colors across the
 * entire site.
 */


/*
 * OneDark color scheme
 */
:root {
	--primaryDark: #282C34;
	--secondaryDark: #454C59;
	--primaryLight: #CFD7E6;
	--secondaryLight: #ABB2BF;
	--primaryBlue: #61AFEF;
	--secondaryBlue: #69BBFF;
	--primaryRed: #E06C75;
	--secondaryRed: #FF7A85;
	--primaryGreen: #98C379;
	--secondaryGreen: #B5E890;
	--primaryYellow: #E5C07B;
	--secondaryYellow: #FFD68A;
	--primaryMagenta: #C678DD;
	--secondaryMagenta: #E48AFF;
	--primaryCyan: #56B6C2;
	--secondaryCyan: #66D9E8;
}

/*
 * gruvbox color scheme
 */
/*:root {*/
	/*--primaryDark: #282828;*/
	/*--secondaryDark: #504945;*/
	/*--primaryLight: #fbf1c7;*/
	/*--secondaryLight: #d5c4a1;*/
	/*--primaryBlue: #458588;*/
	/*--secondaryBlue: #83a598;*/
	/*--primaryRed: #cc241d;*/
	/*--secondaryRed: #fb4934;*/
	/*--primaryGreen: #98971a;*/
	/*--secondaryGreen: #b8bb26;*/
	/*--primaryYellow: #d79921;*/
	/*--secondaryYellow: #fabd2f;*/
	/*--primaryMagenta: #b16286;*/
	/*--secondaryMagenta: #d3869b;*/
	/*--primaryCyan: #689d6a;*/
	/*--secondaryCyan: #8ec07c;*/
/*}*/
